[submodule "nomad/packs/registry"]
	path = nomad/packs/registry
	url = https://github.com/afreidah/nomad-pack-registry
[submodule "src/vault-cert-manager"]
	path = src/vault-cert-manager
	url = https://github.com/afreidah/vault-cert-manager.git
[submodule "src/resume"]
	path = src/resume
	url = https://github.com/afreidah/resume.git
[submodule "infrastructure/providers/terraform-provider-pihole"]
	path = infrastructure/providers/terraform-provider-pihole
	url = https://github.com/ryanwholey/terraform-provider-pihole.git
[submodule "src/s3-orchestrator"]
	path = src/s3-orchestrator
	url = https://github.com/afreidah/s3-orchestrator.git
[submodule "src/cloudflare-log-collector"]
	path = src/cloudflare-log-collector
	url = https://github.com/afreidah/cloudflare-log-collector.git
