[submodule "nomad/packs/registry"]
	path = nomad/packs/registry
	url = https://github.com/afreidah/nomad-pack-registry
[submodule "src/vault-cert-manager"]
	path = src/vault-cert-manager
	url = https://github.com/afreidah/vault-cert-manager.git
[submodule "src/resume"]
	path = src/resume
	url = https://github.com/afreidah/resume.git
[submodule "nomad/src/nomad-temporal-jobs"]
	path = nomad/src/nomad-temporal-jobs
	url = https://github.com/afreidah/nomad-temporal-jobs
[submodule "src/nomad-temporal-jobs"]
	path = src/nomad-temporal-jobs
	url = https://github.com/afreidah/nomad-temporal-jobs.git
