{{- $styles := resources.Get "style.css" -}}
{{- if $styles -}}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}">
{{- end -}}

<title>
  {{- with .Site.Data.config.title -}}
    {{ . }}
  {{- else -}}
    Munchbox Dashboard
  {{- end -}}
</title>

{{- $faviconSvg := resources.Get (printf "icons/%s.svg" .Site.Data.config.icon) -}}
{{- $faviconPng := resources.Get (printf "icons/%s.png" .Site.Data.config.icon) -}}
{{- if $faviconSvg -}}
<link rel="icon" type="image/svg+xml" href="{{ $faviconSvg.RelPermalink }}">
{{- else if $faviconPng -}}
<link rel="icon" type="image/png" href="{{ $faviconPng.RelPermalink }}">
{{- else -}}
<link rel="icon" type="image/svg+xml" href="{{ (resources.Get "icons/no-icon.svg").RelPermalink }}">
{{- end -}}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

