{{- $iconName := . -}}

{{- $noIcon := resources.Get "icons/no-icon.svg" -}}

{{- $iconPath := "" -}}
{{- if or (strings.HasSuffix $iconName ".png") (strings.HasSuffix $iconName ".jpg") (strings.HasSuffix $iconName ".jpeg") (strings.HasSuffix $iconName ".svg") -}}
  {{- $iconPath = printf "icons/%s" $iconName -}}
{{- else -}}
  {{- $iconPath = printf "icons/%s.svg" $iconName -}}
{{- end -}}

{{- $icon := resources.Get $iconPath | default $noIcon -}}

<img
  class="w-full h-full object-contain"
  src="{{ $icon.RelPermalink }}"
  alt="{{ $iconName }}"
>

