# -------------------------------------------------------------------------------
# Oracle Watchdog Systemd Override
#
# Project: Munchbox / Author: Alex Freidah
#
# Environment configuration for oracle-watchdog monitor mode.
# -------------------------------------------------------------------------------

[Service]
Environment=CONSUL_HTTP_ADDR={{ oracle_watchdog_consul_addr }}
Environment=CONSUL_HTTP_TOKEN={{ oracle_watchdog_consul_token }}
