;
; zfswatcher.conf - Managed by Ansible
;
; ZFS pool monitoring configuration for {{ inventory_hostname }}
;

[main]
zpoolstatusrefresh = 5
zpoolstatuscmd = "/sbin/zpool status"
zfslistrefresh = 30
zfslistcmd = "/sbin/zfs list -H -o name,avail,used,usedsnap,usedds,usedrefreserv,usedchild,refer,mountpoint -d 0"
zfslistusagecmd = "/sbin/zfs list -H -o name,avail,used,usedsnap,usedds,usedrefreserv,usedchild,refer,mountpoint -r -t all"
pidfile = /var/run/zfswatcher.pid

[severity]
poolstatemap = OFFLINE:info REMOVED:crit FAULTED:alert SPLIT:info UNAVAIL:alert DEGRADED:crit ONLINE:info UNKNOWN:alert
pooladded = notice
poolremoved = notice
poolstatuschanged = err
poolstatuscleared = notice
poolerrorschanged = err
devstatemap = OFFLINE:info REMOVED:err FAULTED:err SPLIT:info UNAVAIL:err DEGRADED:err ONLINE:info UNKNOWN:err INUSE:err AVAIL:info
devadded = notice
devremoved = notice
devreaderrorsincreased = err
devwriteerrorsincreased = err
devcksumerrorsincreased = err
devadditionalinfochanged = notice
devadditionalinfocleared = notice
usedspace = 80%:info 85%:notice 90%:err 95%:crit

[leds]
enable = false

[logfile "main"]
enable = true
level = info
file = /var/log/zfswatcher/zfswatcher.log

[www]
enable = true
level = debug
bind = 0.0.0.0:{{ zfswatcher_web_port }}
templatedir = {{ zfswatcher_install_dir }}/src/www/templates
resourcedir = {{ zfswatcher_install_dir }}/src/www/resources
logbuffer = 1000
severitycssclassmap = emerg:alert alert:alert crit:alert err:error warning:warning notice:success info:info debug:debug
poolstatecssclassmap = OFFLINE:text-warning REMOVED:text-error FAULTED:text-error SPLIT:text-warning UNAVAIL:text-error DEGRADED:text-warning ONLINE:text-success UNKNOWN:text-error
devstatecssclassmap = OFFLINE:text-warning REMOVED:text-error FAULTED:text-error SPLIT:text-warning UNAVAIL:text-error DEGRADED:text-warning ONLINE:text-success UNKNOWN:text-error INUSE:text-success AVAIL:text-success
usedstatecssclassmap = none:success info:success notice:info err:warning crit:important

[wwwuser "root"]
enable = true
password = $1$fNF5/E3q$TEYvY1AQae/7rzHQ5fVgD1
