# -------------------------------------------------------------------------------
# Vault Environment Variables
#
# Project: Munchbox / Author: Alex Freidah
#
# Sets Vault CLI environment variables for all users. Managed by Ansible.
# -------------------------------------------------------------------------------

export VAULT_ADDR="https://127.0.0.1:8200"
{% if not vault_tls_disable %}
export VAULT_CACERT="{{ vault_tls_ca_file }}"
{% endif %}
