# -------------------------------------------------------------------------------
# Consul Environment Variables
#
# Project: Munchbox / Author: Alex Freidah
#
# Sets Consul CLI environment variables for all users. Managed by Ansible.
# -------------------------------------------------------------------------------

{% if consul_tls_enabled | default(true) | bool %}
export CONSUL_HTTP_ADDR="https://127.0.0.1:{{ consul_ports.https }}"
export CONSUL_CACERT="{{ consul_tls_ca_file }}"
export CONSUL_CLIENT_CERT="{{ consul_tls_cert_file }}"
export CONSUL_CLIENT_KEY="{{ consul_tls_key_file }}"
{% else %}
export CONSUL_HTTP_ADDR="http://127.0.0.1:{{ consul_ports.http }}"
{% endif %}
