# -------------------------------------------------------------------------------
# Consul Environment Variables
#
# Project: Munchbox / Author: Alex Freidah
#
# Sets Consul CLI environment variables for all users. Managed by Ansible.
# -------------------------------------------------------------------------------

export CONSUL_HTTP_ADDR="http://127.0.0.1:8500"
